.main-order {
    display: flex;
    justify-content: space-around;
    align-items: center;

    form {
      label {
        width: 300px;
      }
    }
  }
  
  .acceso-socios {
    padding: 30px auto;
  
  }
  
  .acceso-title{
    font-size: 50px;
    background-image: linear-gradient($colorLight, $colorBlueL);
    color:$colorBlueD;
    padding: 30px;
    text-transform:uppercase;
    font-family: monospace;
  
  }
  
  .acceso-sub {
    @include parrafos (58px, center);
    padding: 10px;
    max-width: 1500px;
    padding-left: 35px;
    color: $colorLight;
  }
  
  
  .label-recordar {
    color: #ddd;
  }
  
  .bg-card {
    background-color:$colorBlueL;
    color: $colorLight;
  }
  
  .zoom-lyon {
    transition: transform 0.5s ease;
    overflow: hidden;
    cursor: pointer;
    margin: 20px;
    width: 285px; 
    height: auto;
  }
  
  .zoom-lyon:hover {
    transform: scale(1.2);
  }
  
 .ad-publi {
    a {
      width: 215px;
      height: auto;
    }
 }

  .ad-registro {
      font-size: 38px;
      
  }