* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Dongle", sans-serif;
    font-family: "Source Sans Pro", sans-serif;
  }

 


  @mixin parrafos ($size, $alineacion){
      font-size: $size;
      text-align: $alineacion;
  }




  $mapTnotas: (nacional:#b8a5d6, local:#cfb7ab, infantil:#9fdff3);

  @each $tnotas, $colors in $mapTnotas {
    .notas_#{$tnotas} {
        background-color: $colors;
        padding: 8px 10px;
        font-size: 18px;
        display: inline-block;
        color: black;
        border-radius: 1rem;
        font-weight: bold;
      }
    }