main{
  background-image:linear-gradient($colorBlueD, $colorLightD 10%, $colorBlueD);
  background-position: center;
  display: grid;
  grid-template-columns: 1fr;

  .partidos {
    display: flex;
    justify-content:space-evenly;
    align-content: center;
    padding: 30px;
    color: $colorLight;
    text-align: center;
    background-color: $colorBlueD;
  
    &_fecha {
      display: flex;
      justify-content: space-evenly;
      text-align: center;
  
      p {
        font-weight: bolder;
      }
    }
  
    h3 {
      font-weight: bolder;
      font-size: 38px;
      margin-bottom: 20px;
    }
  
    h4 {
      text-align: center;
    }
   
    }

    .plantel { 
      img {
      width: 100%;
    }
  }

  section {

    h2 {
      font-size: 75px;
      font-weight: bold;
      margin-top: 15px;
      margin-left: 30px;
      margin-bottom: 25px;
      padding: 20px;
      color:$colorSecondary;
    }

    .notas {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      margin: $marginCenter;
      max-width: 75%;
  }

    div {
      article {
          padding-top: 15px;
          max-width: 80%;
          max-height: 100%;
          background-color: $colorBlueL;
          margin: 25px;
          border-style: 15px solid;
          border-radius: 20px;
          
          div {
          display: flex;
          flex-direction: column;
          align-items: center;
          
          
           p {
            margin-top: 15px;
              padding: 0 20px;
              @include parrafos (18px, center);
          }

           a {
            text-decoration: none;
            color: $colorSecondary;
            margin-top: 15px;
            font-size: 18px;
          }
          @extend .hoverLinks;
          
           img {
            max-width: 100%;
            @include sizes (420px, 360px);
          }

         }
      }
      }
      
        
  }
  
  div {
  h3 {
    @include parrafos (58px, center);
    color: $colorLightD;
    margin: 40px;
    font-style: italic;
    text-transform: uppercase;
  }

  .table--size {
      max-width: 1200px;
      margin: $marginCenter;
      margin-bottom: 20px;
  }
  .table--alva {
    background-color: $colorSecondary;
  }

  .table--mas {
    display: flex;
    justify-content:center;
    font-style: italic;
    cursor: pointer;    
    p {
      a{
        color: $colorLight;
        font-size: 18px;
        margin-bottom: 40px;
      }

      @extend .hoverLinks
    }
  }
}
}

