@media (max-width: 1024px) {
  header {
  .header-top {
    justify-content: space-between;

    p {
      font-size: 16px;
    }

    ul li {
      font-size: 13px;
      padding: 5px;
    }
  }

  .hola {
  flex-direction: column;
  align-items: center;

    &_club {
      @include parrafos (68px, center)
    }

    &_sitio {
      @include parrafos (48px, center)
    }

    &_logo {
      @include sizes (120px, 120px);
    }

    &_tienda {
      a {
      font-size: 14px;
    }
    }
  }
}

  

  


  main {
    
      .partidos {
        padding: 15px;
        margin: $marginCenter;
      
      
        h3 {
          font-size: 18px;
        }

        h4 {
          font-size: 16px;
        }
      }

      .plantel { 
        img {
        width: 100%;
        }
      }
    
      section {
      h2 {
        margin: 35px 15px;
        font-size: 64px;
      }
      div {
        article {
          padding: 15px 0;
          div {
            p {
              font-size: 16px;
            }
          }
        }
      }
    }

    .table--size {
      width: 75%;
    }
  }


  footer {
    grid-template-columns: repeat(2, 1fr);

    .footer__datos {
      margin: $marginCenter;
      padding-left: 30px;
      
      div 
        h4 {
          font-size: 18px;
          padding-top: 15px;
          }
  
        p {
          font-size: 14px;
          }
  
        .club {
          @include sizes (50px, auto);
          }
        
        .direccion {
          @include sizes (22px, 22px);
          }
        
        .telefono {
          @include sizes (22px, 22px);
          }
        
        .mail  {
          @include sizes (15px, 15px);
          }
    }  

    .footer__copyright {
      order: 1;
      margin: $marginCenter;
      grid-column-start: 1;
      grid-column-end: 3;
      padding-top: 30px;
  
      p {
        font-size: 14px;
      }
    }

    .footer__redes {
      margin: auto 1rem;
      a {
        img {
          @include sizes (45%, auto);
          margin-top: 30px;
        }
      }
    }
  

    .footer__sponsor {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 2rem;
  
      .lyon {
        @include sizes (42%, auto);
      }
  
      .weber {
        @include sizes (22%, auto);
      }
      .sierra {
        @include sizes (28%, auto);
      }
    }
  }

  
  

  /* Acceso socios */

  .acceso-title {
    font-size: 34px;
  }

  .acceso-sub {
    font-size: 32px;
    margin: $marginCenter;
  }

  .div-acceso {
    display: grid;
    grid-template-columns: 1fr;
  }

  .ad-registro {
    @include parrafos (28px, center);
    color: $colorLight;
  }

  .ad-publi {
    max-width: 100%;
    margin: $marginCenter;
  }
}

@media (max-width: 768px) {
  header {
    padding-bottom: 2px;

  .header-top {
    justify-content: space-between;
    p {
      display: none;
    }
    ul {
      flex-wrap: wrap;
      li {
        font-size: 12px;
        margin: auto;
        padding: 3px 5px;
      }
    }
    form {
      display: none;
    }
  }

  .hola {

    &_club {
      @include parrafos (28px, center);
    }

    &_sitio {
      @include parrafos (20px, center);
      margin-bottom: 10px;
    }

    &_logo {
      @include sizes (80px, 80px);
    }

    &_tienda {
      flex-wrap: wrap;
      align-self: center;
  
      a {
        font-size: 10px;
        padding: 4px 5px;
      }
    }
  }
}

  main {
    display: grid;
    grid-template-columns: 1fr;

    .partidos {
      
      h3 {
        font-size: 14px;
      }

      h4 {
        font-size: 12px;
      }
      &_ultimo {
        display: none;
      }
      &_fecha {
        font-size: 12px;
        img {
          @include sizes (30px, 30px);
        }
      }
    }

    .plantel {
      img {
        width: 100%;
      }
    }
    
    section {

      .notas {
        max-width: 75%;
    
        &_infantil,
        &_nacional,
        &_local {
          font-size: 12px;
        }
      }
      h2 {
        font-size: 48px;
        margin: 28px 15px;
      }
      div {
        article {
          margin: $marginCenter;
          width: 220px;
          margin-bottom: 15px;

          div {
            p {
              font-size: 12px;
            }
            a {
              font-size: 12px;
            }
            img {
              max-width: 100%;
              @include sizes (380px, 180px);
            }
          }
        }
      }
    }

    .table--size {
      width: 75%;
    }
    .table--sm {
      display: none;
    }
  }





  footer {
    display: flex;
    flex-direction: column;

  .footer__datos {
      div {
        h4 {
        font-size: 14px;
        padding-top: 8px;
        }

        p {
          font-size: 14px;
        }

        .club {
          @include sizes (32px, 32px);
        }
      
        .direccion {
          @include sizes (20px, 20px);
        }
      
        .telefono {
          @include sizes (20px, 20px);
        }
      
        .mail {
          @include sizes (26px, 26px);
        }
      }
    }

  .footer__copyright {
    order: 2;
    display: flex;

    p {
      font-size: 12px;
      }
    }

    .footer__redes {
      a {
        img {
          @include sizes (30%, auto);
          margin-top: 30px;
        }
      }
    }
    .footer__sponsor {
      flex-direction: column;
      margin-top: 30px;
      align-items: center;
  
      .lyon {
        @include sizes (30%, auto);
        padding-bottom: 15px;
      }
  
      .weber {
        @include sizes (30%, auto);
        padding-left: 10px;
        padding-bottom: 15px;
        
      }
      .sierra {
        @include sizes (28%, auto);
        padding-left: 10px;
      }
    }
  }

  

  

  /* Acceso socios */

  .main-order {
    flex-direction: column;
  }

  .cont-acceso {
    margin: $marginCenter;
  }
  .acceso-title {
    font-size: 32px;
    margin: $marginCenter;
  }

  .acceso-sub {
    font-size: 28px;
    margin: $marginCenter;
  }

  .ad-registro {
    @include parrafos (18px, center);
    margin-top: 15px;
  }

  .ad-publi {
    max-width: 75%;
    margin: $marginCenter;
  }
}

@media (max-width: 425px) {

  main {
      background-image: linear-gradient(#04042f, #ddd 48%, #04042f);

      section {
        .notas {
          grid-template-columns: 1fr;
        }
        h2{
          color: $colorLightD;
          font-size: 36px;
        }
      }
  }

  .table--xsm {
    display: none;
  }

  footer {
    .footer__redes {
      a {
        img {
          @include sizes (40%, auto);
        }
      }
    }
  }

   /* Acceso socios */

  .acceso-socios {
    p {
      color: $colorLightD;
    }
  }

}
